#aboutme {
	background-image: url(https://img.freepik.com/free-vector/abstract-watercolor-green-background_23-2149040581.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

