*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
html {
  scroll-behavior: smooth;
 }

#aboutme {
	background-image: url(https://img.freepik.com/free-vector/abstract-watercolor-green-background_23-2149040581.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-attachment: fixed;
}

#tools {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/blue-grass-texture-lori-deiter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}